html,
body {
  margin: 10px;
  padding: 10px;
  font-family: Lato, sans-serif;
}

#header {
  height: 200px;
  background-image: url("https://res.cloudinary.com/dat4zjqfy/image/upload/v1564732267/book-wallpapers-28442-4156742_elecf7.jpg");
  background-size: cover;
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-position: center right;
  padding-top: 50px;
  padding-left: 15px;
}

#logo {
  background-color: lightgrey;
  width: 200px;
  border-radius: 50%;
  border: grey 10px;
}

#wrap {
  /* height: calc(100vh - 300px); */
  display: grid;
  grid-template-columns: 300px auto;
}

h1 {
  color: #33383e;
}

h2 {
  color: white;
  text-align: center;
  text-rendering: optimizeLegibility;
}
