html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

#wrap {
  height: calc(100vh - 300px);
  display: grid;
  grid-template-columns: 300px auto;
  margin: 10px;
}

#header {
  height: 300px;
  width: 100vw;
  background-color: white;
  margin: 10px;
  padding-top: 50px;
  padding-left: 15px;
}

#buttons {
  background-color: blue;
}

iframe {
  height: 300px;
  width: 100vh;
}

#logo {
  background-color: lightgrey;
  width: 200px;
  border-radius: 50%;
  border: grey 10px;
}

h1 {
  color: white;
  text-align: center;
  text-rendering: geometricPrecision;
}

h2 {
  color: white;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.signup {
  margin-top: 100px;
}

.error {
  color: tomato;
  margin-bottom: 10px;
}
