@import url("https://fonts.googleapis.com/css?family=Cantata+One");
@import url("https://fonts.googleapis.com/css?family=Lato");

#content {
  background: white;
  display: grid;
  grid-template-rows: auto 80px;
  align-items: center;
  align-content: center;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#text {
  /* background-image: url(https://res.cloudinary.com/dat4zjqfy/image/upload/v1564732303/34902fc14c13beeaba1395610bc47590_qz2ysm.jpg); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* color: white; */
  /* font-weight: bolder; */
  /* font-family: fantasy; */
  font-family: Georgia serif;
  text-align: justify;
}

h1 {
  color: #33383e;
}

.word {
  background: lightyellow;
  cursor: pointer;
  position: relative;
  color: green;
  font-weight: bold;
  padding: 0 4px;
}

.popup {
  background: white;
  color: black;
  border: 1px #ccc solid;
  line-height: 1.2em;
  text-align: left;
  font-weight: normal;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 25px;
  left: -90px;
  min-width: 200px;
}
