@import url("https://fonts.googleapis.com/css?family=Cantata+One");
@import url("https://fonts.googleapis.com/css?family=Lato");

#content {
  background: #f8f8f8;
  display: grid;
  grid-template-rows: auto 80px;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#chapter {
  height: 100vh;
  width: 100vw;
  background-color: yellow;
}

#quizzes {
  width: 100%;
  background-color: green;
}

#flashcards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: green;
}

.word {
  background: yellow;
  cursor: pointer;
  position: relative;
  color: green;
  font-weight: bold;
}

.popup {
  background: white;
  border: 1px grey solid;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 25px;
  left: -90px;
  min-width: 200px;
}
