#content {
  background: #f8f8f8;
  display: grid;
  grid-template-rows: auto 80px;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#chapter {
  height: auto;
  width: 100%;
  background-color: yellow;
}

#quizzes {
  width: 100%;
  background-color: green;
}

#flashcards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: green;
}
