.container {
  /*   height: 100%; */
  background: url("https://res.cloudinary.com/dat4zjqfy/image/upload/v1564732249/ZdmiMv_gneuss.jpg")
    no-repeat;
  box-shadow: 0px 5px 25px 0px rgba(51, 51, 51, 0.28);
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #bdc2e8;
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
  background-repeat: no-repeat;
}

#header {
  height: 300px;
  width: 100vw;
  background-image: url("https://img1.goodfon.com/wallpaper/big/3/de/kniga-cvety-makro.jpg");
  background-size: cover;
  background-color: lightgrey;
  background-repeat: no-repeat;
  margin: 10px;
  padding-top: 50px;
  padding-left: 15px;
}

#logo {
  background-color: lightgrey;
  width: 200px;
  border-radius: 50%;
  border: grey 10px;
}

#wrap {
  height: calc(100vh - 300px);
  display: grid;
  grid-template-columns: 300px auto;
  margin: 10px;
}

.flashcardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* CARD STYLING */

.container,
.card,
.card_front,
.card_back {
  width: 397px;
  height: 640px;
  margin: 10px;
}

@supports (display: flex) {
  .card_front {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card_front .word {
    margin: 0 0.15em;
    padding: 10px;
    border-radius: 5%;
    border-style: solid;
    color: black;
    font-size: 3em;
  }
}

.card_front {
  position: relative;
  padding: 0 1em;
}

.card_back {
  /*   display: none; */
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.card_back .image {
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  margin: 5px;
  background: url("https://res.cloudinary.com/dat4zjqfy/image/upload/v1564732303/34902fc14c13beeaba1395610bc47590_qz2ysm.jpg");
  background-color: white;
  background-size: cover;
}

.card_back .definition,
.card_back .sentence {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  background: rgba(76, 175, 80, 0.3);
}

/* .card_front > *,
.card_back > * {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
} */

p:first-of-type {
  margin-top: 0;
  padding: 1.5em 0 0;
  border-top: 8px solid #333;
}

/* FLIP CARD STYLING */
.container {
  perspective: 1000px;
}

.container:hover .card,
.container.hover {
  transform: rotateY(-180deg);
}

.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card_front,
.card_back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card_front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card_back {
  transform: rotateY(-180deg);
}
